@model IList<DigitalBoard.Models.Post>
@{
    ViewData["Title"] = "User Page";
    bool? userIsFollowing = (bool?)ViewData["userIsFollowing"];
    int? myUserId = (int?)ViewData["userId"];
}

@if (userIsFollowing.HasValue)
{
    <div class="d-flex justify-content-end mb-3">
        @if (userIsFollowing.Value)
        {
            <form asp-action="UnfollowUser" asp-controller="User">
                <input hidden name="userToUnfollowId" value="@Model[0].User.Id" />
                <button class="btn btn-secondary" type="submit">Unfollow me</button>
            </form>
        }
        else
        {
            <form asp-action="FollowUser" asp-controller="User">
                <input hidden name="userToFollowId" value="@Model[0].User.Id" />
                <button class="btn btn-primary" type="submit">Follow me</button>
            </form>
        }
    </div>
}

<div class="container d-flex flex-column justify-content-center">
    @foreach (var post in Model)
    {
        <div class="card d-flex">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">
                        User: <a asp-action="User" asp-route-userId="@post.User.Id" class="card-title"> @post.User.Username </a>
                    </h5>
                    <h6 class="card-text">@post.CreationDate.ToString("dd.MM.yyyy - HH:mm")</h6>
                </div>
                <p class="card-text">@post.Content</p>
                <div class="d-flex flex-column">
                    <button class="btn ml-auto" data-toggle="collapse" data-target="#comment-@post.Id">
                        Show comments
                    </button>
                    <div id="comment-@post.Id" class="collapse">
                        @foreach (var comment in post.Comments)
                        {
                            <div class="row mt-2 border-bottom">
                                <div class="col-2">
                                    <p class="font-weight-bold">@comment.Submiter.Username: </p>
                                </div>
                                <div class="col-8 d-flex">
                                    <p class="lead overflow-auto flex-grow-1 mr-1">
                                        @comment.Content
                                    </p>
                                    @if (myUserId.HasValue && myUserId.Value == comment.Submiter.Id)
                                    {
                                        <button type="button" style="height: min-content" class="btn mr-1 text-white btn-warning" data-toggle="modal" data-target="#editModal">
                                            Edit
                                        </button>
                                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit comment</h5>
                                                    </div>
                                                    <form asp-action="EditComment" asp-controller="Post">
                                                        <div class="modal-body">
                                                            <input type="hidden" name="commentId" value="@comment.Id" />
                                                            <input name="content" class="form-control flex-grow-1" value="@comment.Content" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <form asp-action="DeleteComment" asp-controller="Post">
                                            <input type="hidden" name="commentId" value="@comment.Id" />
                                            <button type="submit" class="btn btn-danger">Del</button>
                                        </form>
                                    }
                                </div>
                                <p class="col-2 align-self-end">@comment.SubmitDate.ToString("dd.MM.yyyy - HH:mm")</p>
                                <br />
                            </div>

                        }
                        <form class="form-inline mt-4" asp-action="AddComment" asp-controller="Post">
                            <input hidden name="postId" value="@post.Id" />
                            <div class="form-group mx-sm-3 mb-2 flex-grow-1">
                                <label class="sr-only">Content</label>
                                <input type="text" class="form-control flex-grow-1" name="content" placeholder="Content">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Comment</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
    } 
</div>
